<div class="container py-5">
  <div class="row justify-center">
    <div class="col-6">
      <h1>Editing my <%= @storage_space.name %>'s Booking </h1>
      <p><%= @storage_space.address %> </p>
      <h5 id="price-field"> <%= @storage_space.base_price  %>€ / day </h5>
      <br>
      <%= render 'shared/edit-booking-form' %>
    </div>
    <div class="col-6">
      <%= cl_image_tag @storage_space.photos[0].key, crop: :fill, class: 'form-img' %>
    </div>
  </div>
</div>
