<div class="container py-5">
  <div class="row justify-center">
    <div class="col-12">
    <% @booking.storage_space.photos.each do |photo, index| %>
        <% if index == 0  %>
          <%= cl_image_tag photo.key, crop: :fill, class: 'show-img' %>
        <% else %>
          <div>
            <%= cl_image_tag photo.key, crop: :fill, class: 'show-img' %>
          </div>
        <% end %>
      <% end %>
      <div class="my-1">
        <%= link_to "Back", my_bookings_path  %>
        <%= link_to "Edit", edit_booking_path(@booking), class: 'btn btn-primary' %>
      </div>
      <h1><%= link_to "#{@booking.storage_space.name}", storage_space_path(@booking.storage_space) %></h1>
      <p><%= @booking.storage_space.address %></p>
      <p>From <%= @booking.start_date %> to <%= @booking.end_date %></p>
      <h3><%= @booking.price %>€</h3>
    </div>
  </div>
  <hr class="my-5">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3>Reviews</h3>
      <% if @booking.storage_space.reviews.empty? %>
        <small><em class="text-muted">Be the first one to review this list</em></small>
      <% end %>
      <% @booking.storage_space.reviews.each do |review| %>
        <div>
          <% review.rating.times do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p class="mb-0"><%= review.comment %></p>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="col-12 col-sm-6">
      <div class="bg-white rounded p-3">
        <h5>Add your review</h5>
        <%= simple_form_for [@booking, @review] do |f| %>
          <%= f.input :comment, placeholder: 'Add your review here...' %>
          <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { id: 'review_rating' } %>
          <%= f.submit 'Submit', class:'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
