<div class="container py-5">
  <div class="row justify-center">
    <div class="col-12">
      <h1><%= @storage_space.name %></h1>
      <p><%= @storage_space.address %></p>
      <h3><%= @storage_space.base_price %>€ / day</h3>
      <% if @storage_space.user == current_user %>
        <%= link_to "Edit", edit_storage_space_path, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to "Book", new_storage_space_booking_path(@storage_space), class: 'btn btn-primary' %>
      <% end %>
      <p></p>
      <% @storage_space.photos.each do |photo, index| %>
        <% if index == 0  %>
          <%= cl_image_tag photo.key, crop: :fill, class: 'show-img' %>
        <% else %>
          <div>
            <%= cl_image_tag photo.key, crop: :fill, class: 'show-img' %>
          </div>
        <% end %>
       <% end %>
      <div class="my-1">
        <p><%= @storage_space.description %></p>
        <%= link_to "Back", storage_spaces_path  %>
      </div>
    </div>
  </div>
</div>
