<div class="container py-5">
  <div class="row justify-center">
    <div class="col-12">
      <h1><%= @storage_space.name %></h1>
      <p><%= @storage_space.address %></p>
      <h3><span id="price-field"><%= @storage_space.base_price %></span>€ / day</h3>
      <% if @storage_space.user == current_user %>
        <%= link_to "Delete", storage_space_path(@storage_space), method: :delete, data: { confirm: "Are you sure?" } %>
        <%= link_to "Edit", edit_storage_space_path, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to "Book", new_storage_space_booking_path(@storage_space), class: 'btn btn-primary' %>
      <% end %>
      <p></p>
      <% @storage_space.photos.each do |photo, index| %>
        <% if index == 0  %>
          <%= cl_image_tag photo.key, crop: :fill, class: 'show-img' %>
        <% else %>
          <div>
            <%= cl_image_tag photo.key, crop: :fill, class: 'show-img' %>
          </div>
        <% end %>
       <% end %>
      <div class="row my-4">
          <div class="col-6">
            <p><%= @storage_space.description %></p>
            <%= link_to "Back", storage_spaces_path  %>
          </div>
          <div class="col-6">
            <% if @storage_space.user != current_user %>
              <h3>Book this storage now</h3>
              <%= render 'shared/create-bookings-form' %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
  <hr class="my-5">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3>Reviews</h3>
      <% if @storage_space.reviews.empty? %>
        <small><em class="text-muted">There are no reviews for the storage space yet.</em></small>
      <% end %>
      <% @storage_space.reviews.each do |review| %>
        <div>
          <% review.rating.times do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p class="mb-0"><%= review.comment %></p>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
</div>
