<%= simple_form_for(@storage_space) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description, as: :text, :input_html => {:style => 'width: 100%', :rows => 5, class: ''} %>
  <%= f.input :base_price %>
  <%= f.input :available %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit class: 'btn btn-primary' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>
